.wrapped-broadcast {
    display: flex;
    justify-content: space-between;
}
.title-info {
    text-align: center;
}
.wrapped-items-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.admin-add-info {
    overflow-x: auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.title-admin {
    text-align: center;
    padding: 15px;
    background-color: #cccccc;
}
.admin-message{
    background: #E5E7FA;
    border-radius: 4px;
    padding: 7px;
    color: #6979F8;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.admin-message:last-child{
    margin-bottom: 10px;
}
.info-teams {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    border: 1px solid #ecebed;
}
.broad-team {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.broad-team:last-child{
    margin-bottom: 0px;
}
.logo-team {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.go-team {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.broadcast-info {
    margin-bottom: 50px;
}
.title-into-teams {
    font-weight: 500;
    text-align: center;
    padding: 8px;
    font-size: 17px;
    color: #7879f8;
}

