.logo-broadcast{
    background: url("../img/broadcasts_logo.jpg");
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}